.sidebar-header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #f1efef;
  width: 400px;
  height: 70px;
}

#user-icon {
  color: rgb(116, 116, 116, 0.5);
  margin-left: 10px;
}

#donut-icon {
  color: rgb(116, 116, 116, 1);
  margin-right: -180px;
}

#add-icon {
  color: rgb(116, 116, 116, 0.8);
  margin-right: -185px;
}

#more-icon {
  margin-right: 30px;
  color: rgb(116, 116, 116, 0.8);
}
