.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  width: 400px;
  height: 600px;
  box-shadow: 1px 0px lightgray;
  overflow-y: auto;
  overflow-x: hidden;
}

.side {
  display: flex;
  margin-top: 10px;
  width: 400px;
  height: 415px;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 22px;
  font-size: 14.5px;
}
